<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=magnuslabb;AccountKey=RcBGME4mxBQ8my5AtJcbaqEFB29DpKJ4k7ZiCp9MmVj2ROZUaWe1vlTBpPxfgcjipjcPonoAF5n/sTBsimotrA==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>